[2014-01-08 01:13] landau opened #2 "Plugins page throws error"
The Gulp JS home page throws an error after loading 139 plugins

`Uncaught TypeError: Cannot read property '1' of null`

Chrome and FFox tested.

[2014-01-08 16:18] #2 closed, assigned to nobody

[2014-05-08 20:29] webmaven opened #6 "List popular projects that use Gulp"
I found a few projects:

https://github.com/cytoscape/cytoscape.js

https://github.com/godaddy/jquery-nearfar

https://github.com/driftyco/ionic

https://github.com/mrmrs/pesticide

https://github.com/skidding/cosmos

https://github.com/durated/angular-scroll

[2014-06-06 14:53] electricjones opened #8 "The website is down"
I am getting a DNS error from gulpjs.com

[2014-06-19 15:40] benhoIIand opened #10 "Scaffolding"
Is there a template to follow for creating a Gulp plugin?

GruntJS has an [excellent scaffolding application](https://github.com/gruntjs/grunt-init) that bootstraps it for you. Would be handy to have something similar, but a default repo to clone from would be great.

For the time being, I follow the format of some popular modules

[2014-06-19 16:27] #10 closed, assigned to nobody

[2014-06-22 22:12] #6 closed, assigned to nobody

[2014-06-30 19:29] #8 closed, assigned to nobody

[2014-06-30 19:32] contra opened #11 "new site"
Plans:
- [x] Nice landing screen
- [ ] Example section with scrollspy
  - similar to http://goratchet.com/components/ but walking you through the sample gulpfile
- [ ] Proper documentation section
  - consolidate readmes from gulp, vinyl-fs, glob-watcher, glob-stream, and vinyl
- [x] New plugin search site

[2014-07-30 14:32] logeshpaul opened #12 "Favicon Update!"
Hey @contra

I tried to update a favicon for the website without the white space as seen in the current website, but I'm facing some issues with 'crfl' so it's showing all files as modified as soon as I clone the forked repository.

So I'm attaching the new icon along with this ticket. If you feel it looks good go ahead and update it!

![gulp-favicon-image](https://cloud.githubusercontent.com/asse

[2014-11-05 14:26] RedRiderX opened #15 "Site logo not loading"
Hey was just checking out gulpjs.com and noticed that the logo is broken.

![http://imgur.com/OiAvSik.png]

It seems like the GitHub hotlink isn't really working.

I'm no expert on referencing files on GitHub so I can't really suggest a fix sorry.

[2014-11-05 23:15] #15 closed, assigned to nobody

[2014-12-28 14:02] contra opened #17 "vinyl adapters"
Need to pick a new npm keyword and add listing of these to the site

[2014-12-31 23:38] oriSomething opened #21 "looks buggy on iOS7"
![gulp-ios7](https://cloud.githubusercontent.com/assets/2685242/5591165/bb1d6482-9155-11e4-81a2-b669a7f8b40a.png)

it's a little bit horrible to inspect it with the safari inspector. so i can't say for sure what cause it. maybe when i'll download iOS simulator for iOS 7 it would be easier.
but my guess it's related to a buggy behavior of the `vh` / `vw` units.

[2015-01-01 01:26] contra commented on #21
Ah yeah those units will probably do that. I'll give it a check. Max-height needs to be added to the logo, max-width added to the text, and maybe a viewport addition needs to be added.

[2015-01-01 19:12] oriSomething commented on #21
hey, i don't know stylus, but this is my little fix. it's a hack because it doesn't deal with small screens in landscape mode (which is another issue). which need some code changes (not using absolute positioning + transforms in small screen).
anyway, for iOS safari 7 in portrait mode it did the job
[code]

[2015-02-16 15:16] rmlewisuk opened #25 "No explanation of what Gulp actually is"
There is nowhere on the website that says:
- what Gulp is
- what it does
- why someone might want to use it

This seems like it would be off putting to someone who perhaps hasn't used Gulp before. "Automate and enhance your workflow" is fine, but doesn't help newcomers.

Just a short explanation of what it is/does would be useful.

[2015-02-16 15:18] heikki commented on #25
This PR could use some feedback -> https://github.com/gulpjs/gulpjs.github.io/pull/23

[2015-02-18 17:07] heikki commented on #25
^ Bringing this in from the linked issue:

[2015-02-26 03:19] joelmccracken opened #26 "plugins page is broken"
Errors:

[code]

[2015-02-26 06:39] contra commented on #26
That server got destroyed somehow - will spin up another one when I am not on a plane

[2015-03-06 17:34] wesbos commented on #26
This has been down for a while now - any way I can help?

[2015-03-17 10:57] contra commented on #26
fixed

[2015-03-17 10:57] #26 closed

[2015-04-20 10:48] #12 closed

[2015-05-22 15:29] assertnotnull opened #27 "Search in plugin page is not working"
Typing in the search box does nothing and I tried it in FF and Chrome.

![gulpbug](https://cloud.githubusercontent.com/assets/821567/7773939/aae5be9a-0075-11e5-807f-f712a00b05e2.gif)

[2015-05-22 18:36] contra commented on #27
fixed

[2015-05-22 18:36] #27 closed

[2016-02-09 12:52] leo commented on #21
@oriSomething Thank you very much for opening this issue! However, I honestly don't think that iOS 7 is worth to support. Since the iPhone 4s (the last iPhone that can only run iOS 7), Apple released 4 new versions of the device and that seems like a high number to me.

I mean, not even Apple supports iOS 7 anymore... :blush:

@contra If you disagree, feel free to reopen the issue.

[2016-02-09 12:52] #21 closed

[2016-02-09 14:36] oriSomething commented on #21
@contra Hey, this issue was from almost a year ago. different times :wink:

[2016-02-09 17:21] leo commented on #21
@oriSomething :smile: Whoopsie

[2016-04-17 00:54] Marak commented on #17
Has there been any updates on a vinyl adapter for dropbox?

As per: https://github.com/gulpjs/vinyl/issues/38, we are still looking for dropbox implementation.

All the user-land dropbox libraries look unmaintained, including the official one. :-\

I've previously contributed to https://github.com/sintaxi/dbox ( I added stream interfaces ), so I guess I'll try to update that library unless anyone

[2016-04-19 17:00] contra commented on #17
@Marak Haven't seen anything with dropbox, feel free to tackle that w/ a blessing

[2016-04-27 21:43] phated opened #31 "Docusaurus theme for the gulp website"
Hey website team!  We are in need of a [GitBook theme](http://toolchain.gitbook.com/themes/) for the documentation refresh.  More information at https://github.com/gulpjs/gulp/issues/1595

Anyone available to tackle this?

[2016-05-26 14:06] matchai commented on #31
If I were to take on this issue, should I assume that #11 has been abandoned?
If a website redesign is around the corner, the theme should match the design of the upcoming site.

[2016-06-06 22:51] phated commented on #31
I think that it falls into one of the items in that issue but I think the gulp red is so iconic that the website shouldn't stray from it.  The documentation will be gitbook and hosted on our domain, which is why we are in need of a custom theme.  Hope that helps.

[2016-07-22 10:10] revelt opened #32 "Some Gulp plugins don't appear in search results"
Searching for `contrib` doesn't yield any results, for example, `gulp-contrib-clean` is not appearing in the search results, although it's appearing on npm [directly](https://www.npmjs.com/package/gulp-contrib-clean).

[2016-07-22 10:15] leo commented on #32
The plugin you're talking about doesn't have the "gulpplugin" keyword in its `package.json`. Therefore it won't appear in the plugin list.

[2016-07-22 10:15] #32 closed

[2016-07-22 10:22] revelt commented on #32
aha!

[2016-07-22 18:19] phated commented on #32
Also note that "contrib" doesn't mean anything in the gulp ecosystem like it does in grunt's. That module is not recommended and you probably want to use the "del" module directly like we recommend in most of our docs.

[2016-07-23 21:51] revelt commented on #32
thank you for advice!

[2016-08-20 23:32] aliceperez commented on #11
Hello gulp team,
I'm a designer and frontend dev and i love gulp.js but i think your website don't have enough information for beginners so i made a prototype for a new website. please check it and tell me what you think
Link: https://marvelapp.com/gj54hh

[2016-08-20 23:48] contra commented on #11
@aliceperez That looks really nice! Could use a few tweaks but I like it overall. Want to send a PR when you have it ready and we can back-and-forth on it a little bit there?

[2016-08-20 23:57] phated commented on #11
@aliceperez That looks awesome!

[2016-08-21 00:15] aliceperez commented on #11
thank you @contra and @phated , i will be working on it and sending a PR as soon as i can.

[2016-09-19 17:07] josephfusco opened #34 ""Built With Gulp" Badge"
It would be nice to see gulp also have it's own "built with gulp" badge similar to what Grunt is doing and host via cdn? I see some projects use the custom https://shields.io implementation but there is no standardized badge.

See: http://gruntjs.com/built-with-grunt-badge

Design candidate: ![built with gulp](https://cloud.githubusercontent.com/assets/6676674/18641211/9f7765fe-7e69-11e6-9857-7df9

[2016-09-19 22:00] phated commented on #34
I'm not really a fan of even more badges, especially when they are just for branding.

I'll leave this open for my more feedback.

[2016-09-19 22:02] phated commented on #11
@aliceperez just wanted to follow up and see if you need help or anything.

[2016-09-19 22:25] aliceperez commented on #11
@phated a friend is helping me, She is better with html and css. I'm just a designer...

[2016-09-19 22:35] phated commented on #11
@aliceperez open source needs more designers, so I'm glad you found this issue.  Thanks for the response.  Let us know if you never need anything, we can reach out to the larger gulp community.

[2016-09-19 23:45] josephfusco commented on #34
@phated Understandable

[2016-09-21 18:23] aliceperez commented on #11
@phated If you have another open source project I would like to help and sorry for my english.....

[2016-10-08 15:45] #34 closed

[2016-12-29 22:29] bdougie commented on #11
Out of curiosity is this still happening? I can get some SVGs created based on the mock @aliceperez. The current state of gulpjs.com seems like it could use those.

[2016-12-30 22:00] phated commented on #11
@contra let's close this now that you've redone the site.  I'll open some individual issues for "nice to haves"

[2016-12-30 22:00] #11 closed

[2016-12-30 22:02] phated opened #37 "Contribute Section"
It would be nice to have a "Support Us"/Contribute section on the homepage like @aliceperez's designs at https://marvelapp.com/gj54hh/screen/14587285

It would be nice to show off some of our supporters as well because we've been asked to link to companies that would back us.

[2016-12-30 22:04] phated opened #38 "Adopt the "getting started" flow from mockup?"
Would we want to adopt the "Getting Started" flow from @aliceperez's mockup (https://marvelapp.com/gj54hh/screen/14587285) instead of linking to the GitHub docs for Getting Started?

[2016-12-30 22:05] phated opened #39 "Adopt "What is Gulp" section?"
Should we adopt the "What is gulp" section from @aliceperez's mockups (https://marvelapp.com/gj54hh/screen/14587285)?

[2016-12-30 22:06] phated commented on #39
Actually, ref #25

[2016-12-30 22:07] phated commented on #17
Moved to the "plugins" repo where this actually belongs.

[2016-12-30 22:07] #17 closed

[2016-12-30 22:48] phated commented on #31
We might want to use https://github.com/GitbookIO/theme-api as a base.

[2016-12-30 23:11] contra commented on #31
@matchai New site is up, same colors and fonts so no changes gitbook-wise.

[2016-12-31 00:00] bdougie commented on #37
Perhaps the same way webpack.js.org has their page, not the same styling, but just the idea of it? They pull directly from the open collective API, I would love to tinker with it and see how it can be of use.

[2017-01-03 01:15] dantesolis commented on #39
Hey guy has this been already claimed? If not could I work on it ?

[2017-01-03 01:16] phated commented on #39
@dantesolis hasn't been claimed.  Feel free to work on it (following the linked design as a guide).

[2017-01-03 15:53] dantesolis commented on #39
cool @phated I'm claiming it. Thanks

[2017-01-04 00:35] ansballard commented on #38
I've been trying to find a way to get some CSS chops, so I'll take a stab at this based off the home page. Hopefully I come out with something serviceable =D

[2017-01-05 02:14] ansballard opened #44 "Add gulp to the site?"
Just wanted to see if there was any interest in adding a basic build system before the site gets to built out. The single css file is already a little unwieldy for me, and it might be nice to enforce some linting as well. A happy little side-effect could be that any code examples on the site can be copied straight from the repo itself, keeping them at least somewhat relevant over time. Thoughts?

[2017-01-05 05:04] phated commented on #44
Nope, contra removed a build process in the redesign. We might add one back way down the road.

[2017-01-05 05:04] #44 closed

[2017-01-06 06:40] dantesolis commented on #39
Hey guys  so this might be a silly question, but how do you guys run the site locally and can I divide the css into multiple files or is it better to stay with only one  main css file and/or use scss?

Thanks

[2017-01-06 18:00] bdougie commented on #37
I am going to approach this, this afternoon - Let me know if the marvel mock is good to work off of or if there are tweaks to be made:

<img width="1429" alt="screenshot 2017-01-06 09 59 29" src="https://cloud.githubusercontent.com/assets/5713670/21727590/e19ddc78-d3f6-11e6-96a1-7cec4acec386.png">

[2017-01-06 19:44] phated commented on #37
@bdougie awesome, thanks!  I think that's a good place to start and we can expand on it later (to show current backers/sponsors, etc).

[2017-01-06 19:56] phated commented on #39
Stick with a single CSS file and only use plain CSS (no preprocessors).  In the latest redesign, contra removed all build process.  You can "run" the site locally with a static file server (https://www.npmjs.com/package/st is a good one).

[2017-01-06 19:59] phated opened #45 "Add readme explaining how to work on the site"
We've been receiving some questions on how to work on the site.  We should have a readme describing the workflow (non-build process, static site).  Ref https://github.com/gulpjs/gulpjs.github.io/issues/39#issuecomment-270990942 for the simplest explanation.

[2017-01-06 20:27] contra commented on #37
@bdougie Mock content and idea was good, should use the primitives on the new site though as much as possible - fonts, font-sizes, grid, buttons, etc. is already defined.

[2017-01-06 20:28] contra commented on #45
@phated One thing to note is not writing custom CSS wherever possible, not touching primitives, etc.

Seeing a lot of PRs writing shitloads of custom CSS that doesn't match the rest of the site, overriding shit like `.col-4` globally, etc.

[2017-01-06 20:28] contra commented on #39
@phated Or `open index.html` works just as well

[2017-01-08 17:17] ansballard opened #46 "Use of *nix only commands in cli examples may confuse windows users"
Specifically, `$ touch gulpfile.js` in `img/cli.svg`. Since it's just going to throw a "command not found" on windows, it may be best to swap it for something or remove that line altogether, since `gulp --help` just throws a different error about needing a default task. There's also the option to detect windows users and swap the line for a windows alternative when detected, but I doubt you all wa

[2017-01-10 19:52] phated commented on #37
Completed by #47 - thanks @bdougie!!!!

[2017-01-10 19:52] #37 closed

[2017-01-11 01:11] ansballard commented on #45
https://github.com/bdougie/gulpjs.github.io/blob/code/README.md This seems like a good starting point. Needs the screenshot updated but it gives you a structure to build on.

[2017-01-11 01:14] ansballard commented on #38
So everything but the step-by-step section has been implemented. Do you all feel like the step-by-step is necessary since we have the CLI example at the top of the page along with the full gulpfile? If not this mockup looks done and this issue can be closed.

[2017-01-11 01:19] ansballard commented on #31
So as far as I can tell there's no current dev on this issue, is there anything I'm not seeing or can I try to dive in?

[2017-01-11 03:13] contra commented on #45
@ansballard Feel free to submit a PR - screenshot + "clone and open index.html" should be enough instruction

[2017-01-11 03:13] contra commented on #31
@ansballard Go for it, don't think anyone is touching it right now

[2017-01-11 03:13] contra commented on #38
@ansballard Yep, agreed

[2017-01-11 03:13] #38 closed

[2017-01-11 20:21] phated commented on #38
I did really like the step-by-step design but I think there's a solid case for the simplification (and keeping it above the fold).

[2017-01-11 20:22] phated commented on #31
There's nothing.  I think we want to work on the theme in a branch on this repo (once it's completed, we can figure out if we want to move it).

[2017-01-11 20:23] phated commented on #45
That's the old readme, right?  The screenshot is wrong and stuff.  Needs a complete overhaul and probably should be done from scratch.

[2017-01-12 01:34] ansballard commented on #46
Well I haven't come up with any great options. There's the `type` command that's almost perfect, but the usage is different between OS's. The windows command is `type NUL >> gulpfile.js`, and nix is `type >> gulpfile.js`. So that still requires detecting what the user is running with javascript.

We could do it in node, which they need to run gulp in the first place, but it's dirty. `node -e requi

[2017-01-13 22:16] phated commented on #46
I don't like many of those solutions.  Could we add a BASH comment saying `*nix only` on that line or something?  Or maybe `or create this file`?

[2017-01-14 21:45] ansballard commented on #46
Tried both, I think I like `or create this file` better with the font. Sorry for the quality, kap decided not to work today.

## or create this file:
http://i.giphy.com/26gs8CWLCrD3xYByw.gif

## *nix only
http://i.giphy.com/l3q2PPDNhJLYushZS.gif

[2017-01-14 23:25] contra commented on #46
Did anyone ever make a gulp init command or a useful help command? We can get rid of the `touch` command from the example if the CLI had a really helpful view.

[2017-01-15 12:55] dantesolis commented on #39
Hey guys so anything I could contribute to here? Thanks

[2017-01-15 13:04] dantesolis opened #50 "Open source tags - discussion"
What do you guys think about adding the open [protocol meta tags](https://osprotocol.com) to the site?

[2017-01-15 19:44] contra commented on #39
Closing, I think the site is good as-is. Any more information should go into docs, or possible other pages if we feel that it really needs to exist.

[2017-01-15 19:44] #39 closed

[2017-01-15 19:45] contra commented on #50
Not sure it's needed for our site since it's just one page. If a developer wants the source code of our site they can use view source in their browser.

[2017-01-15 19:45] #50 closed

[2017-01-15 19:46] contra commented on #25
Closing, I think the site is good as-is (recently updated). Any more information should go into docs, or possible other pages if we feel that it really needs to exist.

[2017-01-15 19:46] #25 closed

[2017-01-17 20:22] phated opened #51 "Contribute section needs a way to show off our Sponsors/Backers"
We really want a way to show off Sponsors and Backers on the website.  This needs to be designed and developed (mockups first, etc).

We've been asked by multiple Sponsors to have their logo on our website (but it wouldn't have worked in the old design).  With the redesign, there's plenty of room to fit logos somewhere near the contribute section.

We also want to show off a subset of the Backers

[2017-01-17 20:34] contra commented on #39
@phated I'm open to adding new sections/pages and accepting PRs but this ticket is for the old comp design we're not using. Should open a new ticket to make it friendlier for beginners.

[2017-01-17 20:35] contra commented on #51
@phated Is there an easy way for us to get a list of the logos from opencollective? I can do this pretty easily if so.

[2017-01-17 20:59] phated commented on #51
They have routes that can provide HTML or a JS library that can inject the backers but it doesn't look good and I think we'd want to integrate it nicely into the page.  Hoping to get a mockup before we implement.

[2017-01-17 21:06] contra commented on #51
@phated Already implemented this during the redesign but removed it because I didn't have any logos.

It looks like this:
<img width="1178" alt="screen shot 2017-01-17 at 4 05 57 pm" src="https://cloud.githubusercontent.com/assets/425716/22039864/e0a558b0-dcce-11e6-8dad-49eeec6cafa3.png">

The CSS is already in the page. Just a matter or getting the logos and rendering them into the section.

[2017-01-17 21:10] contra commented on #51
Alt option is this (replace quote w/ contribute call to action button)

<img width="1252" alt="screen shot 2017-01-17 at 4 09 56 pm" src="https://cloud.githubusercontent.com/assets/425716/22040018/6d1676e4-dccf-11e6-861e-34f2aeee25fc.png">

[2017-01-17 21:15] contra opened #52 "add stats section"
Mockup:

<img width="1388" alt="screen shot 2017-01-17 at 4 17 41 pm" src="https://cloud.githubusercontent.com/assets/425716/22040342/83d09710-dcd0-11e6-807f-ac13545fcd96.png">

[2017-01-17 21:20] phated commented on #51
I like that second option.  We currently don't have any sponsors, so we don't have any logos yet :frowning_face:

How should we fit Backers (individuals contributing money)?

[2017-01-17 21:24] contra commented on #51
@phated Can always do something like
[code]

[2017-01-17 21:29] contra opened #53 "add something that explains the pipeline"
Need a animation/video that shows file transformation pipelines and looks snazzy. This is to explain what gulp is and how it works.

Example pipeline would be best with CSS/JS and show vendor prefixing and whatnot.

If it's too difficult to explain, we could also make a nice video (I can do this) with a voice over and graphics.

[2017-01-18 19:43] phated commented on #51
@contra here's the links to the JSON routes:
https://opencollective.com/gulpjs/sponsor.json
https://opencollective.com/gulpjs/backer.json

I'm not sure if they have CORS enabled but we could always use JSONP if they don't.  They might be willing to add CORS if we request it, too.

[2017-01-18 20:27] contra commented on #51
@phated Nice, exactly what I needed. Will work on something when I have some spare time.

[2017-01-19 14:20] ansballard commented on #31
Just a quick update. Had a few free hours yesterday so I got most of the way through a gitbook plugin that can pull down the `README.md` from https://github.com/isaacs/node-glob and split it out by any level headers. Haven't gotten to the point where I can inject the content from any section, but it looks pretty close, barring edge cases.

[2017-01-19 15:09] phated commented on #31
@ansballard cool. That's not quite the theme but something we will be looking for (there's another issue open on the main repo for it).

[2017-01-23 11:32] dantesolis commented on #45
Hey could I work on this one? Thanks

[2017-01-23 17:42] contra commented on #45
@dantesolis Feel free to work on it and send a PR!

[2017-01-23 21:53] phated opened #54 "Better describe what gulp is on the homepage"
This should probably be above the fold unless it ends up being multiple bullet points.

I wanted to open this issue so we can discuss what this should say and look like.

Ref #39

[2017-01-25 23:23] ansballard commented on #31
Oops, that's my bad, I thought the plugin fell under the theme. I'll post progress from here on in the main repo and get back here when I can get to the theme. But just to be clear, no progress on the actual theme as of yet, in case anyone else is watching for something to work on.

[2017-02-28 11:05] CKGrafico commented on #54
I think that for a regular dev the mockup that you post on the other issue is really nice. For a beginner could be not enough as you said before.

When I try to explain what is gulp or what is a task runner to a newbie I start telling to them that is like a program that help's me doing the things that I don't want to do.
- Hey Quique, you've added a new image I will compress it for you.
- Hey Quiq

[2017-03-02 21:23] mraerino opened #56 "Add SSL for gulpjs.com"
Right now, a valid ssl cert is not available on your website.

The following steps could be considered to easily get SSL:
- Cloudflare (CDN only)
- Netlify (Static builds, hosting & CDN)
- LetsEncrypt (Cert only)

[2017-03-02 21:26] phated commented on #56
Github pages don't support SSL for custom domains and I don't want to force people to view the page through some other service (like, cloudflare _lulz_).

[2017-03-02 21:26] #56 closed

[2017-03-02 22:06] terinjokes commented on #56
*ahem*

[2017-03-02 22:13] mraerino commented on #56
I don't have the impression that I'm taken seriously here.

What is the difference of hosting on Github than on some other service like Netlify or through Cloudflare?
Netlify also gives you other improvements like preview builds for pull-requests, so you can inspect them easily. It will also run your custom build command for minification of assets and whatnot.

I don't think you can ignore SSL in

[2017-03-02 22:42] phated commented on #56
Using external services is not currently desirable. We'll keep it in mind for the future.

[2017-03-02 23:52] contra commented on #56
@mraerino Are you submitting any credit card info or passwords or social security numbers on our open source build tool marketing website?

[2017-03-03 00:00] mraerino commented on #56
I would say it is even nicer. You don't just get builds for a single branch, but their CI will provide you with a preview build for every branch and pull-request of your repo. So you can check out PRs before accepting them. It is really tightly integrated with Github.

The are basicly doing the same as github - the have a free premium plan for open-source projects. I'm pretty sure they will stay f

[2017-03-03 00:05] contra commented on #56
Doesn't matter to me - if you send me a PR I'll merge it. I have no objections, if it doesn't work out it'll take less than a couple minutes to move back.

[2017-03-03 00:08] mraerino commented on #56
I'm only saying that I am using Netlify for most of my static site projects and am really happy with it.

There are many ways to get SSL on the site, Cloudflare would probably be the easiest.
I was only really disappointed when I was not able to place a https link to your site today. 🙃

[2017-03-03 00:18] contra commented on #56
@mraerino Yeah, it is pretty annoying that github still doesn't support this when basically everything else does.

[2017-03-03 00:40] phated commented on #56
I really disliked netlify when it was used on lodash.  I don't think we should do this.  I worked with students that were brand new to open source over the weekend and learned that the every reduction in complexity is a win in getting new contributors.

And no to cloudflare after the leak.

[2017-03-03 00:50] mraerino commented on #56
Ok. I see.

The most funny meta thing about this:
Netlify enabled me to use gulp on so much more projects because I suddenly had a way to add a cheap & one-click CI process to all my static-site/SPA projects.

[2017-03-03 13:05] NeoLegends commented on #56
@phated Why did you diskike Netlify so much?

@contra What about people using public / unencrypted networks (hotels, etc.)? SSL is the only way their session stays private. It doesn't matter whether you're hosting sensitive information or not - SSL should be the default by now.

[2017-03-03 15:14] contra commented on #56
@NeoLegends Should be, but isn't. Maybe in a few more chrome updates it will be mandatory and github will get their shit together.

[2017-04-15 09:22] dantesolis commented on #45
oh fudge I think I took a bit too long solving this issue, @saturate already took care of this.

[2017-04-16 15:46] Saturate commented on #51
I just took a quick look at this, they do not support CORS or JSONP - so getting the data is a bit hard.

I created a issue here: https://github.com/OpenCollective/OpenCollective/issues/342

Feel free to chime in!

[2017-04-16 17:58] Saturate commented on #45
Yeah @dantesolis if you snooze you lose ;-) but feel free to review it!

[2017-04-18 19:15] #45 closed

[2017-04-18 19:17] phated commented on #51
@Saturate every JSON url supports JSONP because it evaluates the string on your domain.  However, it would be ideal if they enabled CORS on the endpoints.

[2017-04-18 19:23] Saturate commented on #51
Hey @phated I'm pretty sure that it's not the case, for JSONP to work the server must return the "padding" specified in the `?callback= ` parameter, or atleast have a predefined padding..

It's also stated here https://en.wikipedia.org/wiki/JSONP

Or maybe it's me that's missing something entirely?

[2017-04-18 19:25] phated commented on #51
@Saturate oh crud!  I totally forgot about that (it's been so long since I used it!), good catch.

[2017-04-18 19:31] Saturate commented on #51
@phated that happens sometimes, but sadly that also means that we have to wait for https://github.com/OpenCollective/OpenCollective/issues/342 to be resolved, before we can get more progress on this issue.

[2017-04-18 19:43] phated commented on #51
We could use a proxy service that exposes it as CORS. I wonder if there is a trustworthy one around.

[2017-04-18 20:07] Saturate commented on #51
Could be a solution. However I guess we will have a hard time finding such service, as it in it self is a bit shady to circumvent people CORS.

But we could work on this and implement it in a branch for when/if OpenCollective adds this feature. It's easy to circumvent on your local development machine.

[2017-04-18 20:09] phated commented on #51
@Saturate sounds good.  I can circumvent github issue tracker if you have a PR for us and they still haven't fixed it.

[2017-04-19 09:16] Saturate commented on #51
OpenCollective added support for CORS, and while it's not live yet - it's awesome, and made write some code.

I started work on this branch: https://github.com/Saturate/gulpjs.github.io/tree/feat/supporter-list

It's all looking good, but there are some things to consider.

- My code is written in ES2015 so it's not likely that it will work in old browsers.
- The code can be prettified and optimiz

[2017-04-19 16:34] phated commented on #51
@Saturate nice!  I'll probably just do a manual rewrite with ES5 once you send a PR.  We can use rawgit or https://unpkg.com to include a promise library.

Do you think we should open an issue for open collective to serve smaller images?  I think they have some sort of image processing in their APIs.

[2017-04-19 16:49] Saturate commented on #51
@phated I can rewrite to ES5 as well :-) I guess promises is the thing that I least want to miss and including a pollyfill/library seems like a good solution, then it's only fetch that needs to be rewritten, and some minor things with const / let.

I found the `https://opencollective.com/proxy/images/?src={{IMAGE}}` service on their website, it takes any image and returns it (seems like a risk on

[2017-04-19 16:58] phated commented on #51
Fetch can be replaced with a similar, ES5-compat library (like https://www.npmjs.com/package/rest or something) and included from one of the CDNs.

[2017-04-20 10:04] Saturate commented on #51
I have no idea why I did not consider this. I'll implement this and make a PR :-)

[2017-04-20 16:33] phated commented on #51
Awesome, thanks!

[2017-04-20 18:52] #51 closed

[2017-04-24 04:58] Mordax commented on #54
Mind if I help out? No experience with Gulp, barely touched Node.js and recently new in the Open source world (but I have been programming for quite some time).

Incoming giant block of text - let me know if anything needs clarification (it's midnight and I'm both energized and half asleep).

I've been reading through the various [articles](https://github.com/gulpjs/gulp/blob/master/docs/README.md

[2017-04-24 08:41] Saturate commented on #31
Any work done on this yet? If not and I might throw my self at it.

[2017-04-24 13:33] ansballard commented on #31
Nope, it's all you. I've been swamped with life so I haven't been able to get to it.

[2017-04-24 15:18] phated commented on #31
@Saturate no work at all has been done (I did some initial research that I posted in the comments above).  It'd be awesome if you want to tackle this.

[2017-05-03 06:52] Saturate commented on #31
Great, I'll look at it soonish when I have some free time.

It is correct that we want the GitBook docs to live here, and pull in content from the other repos?

[2017-05-03 15:56] phated commented on #31
@Saturate my current thinking is that the theme and output will exist here and there will be some process to pull the markdown files from the main repository (don't worry about this part right now).

[2017-06-11 16:51] ansballard opened #64 "Getting a cert error from the link in the readme"
Looks like the first link in the readme is pointing to https://gulpjs.com, which gives a cert error. The link in the description and the first google result are both http. Not sure if this is something that never worked or if the cert has expired or what.

[2017-06-11 19:13] phated commented on #64
Github doesn't properly support SSL for custom domains.  Feel free to send a PR to change the readme

[2017-06-11 20:51] ansballard commented on #64
Done!

[2017-06-12 18:36] phated commented on #64
Fixed by #65

[2017-06-12 18:36] #64 closed

[2017-06-29 08:58] Saturate commented on #31
Just a quick update, I did a lot of work with GitBook on my other (paid) projects. But haven't started on this issue yet, time is a constraint here, like all of us know :-)

But it's not forgotten, and after I'm settled in, I'll look at it (Just moved to Copenhagen).

[2017-07-12 23:22] phated commented on #31
@Saturate No worries.  Documentation won't be a focus until the after the soft launch.  Though, we're definitely looking forward to your theme!

[2017-07-14 19:21] sumnerevans commented on #46
Is `echo "" > gulpfile.js` cross platform?

[2017-07-14 19:54] ansballard commented on #46
Both commands leave some junk text in the file on windows. The first contains `""` and the second `ECHO is on.`

[2017-07-14 20:57] phated commented on #46
Yeah, I was pretty sure echo wasn't a "proper" echo in windows. 😦   I'm still considering a flag (like `--init` or something) to make this more cross-platform friendly.

[2017-07-19 18:21] phated opened #146 "Sip for "Task Custom Metadata""
Ref https://github.com/gulpjs/gulp-cli#custom-metadata

[2017-07-19 18:22] phated opened #138 "Sip for "CLI configuration file support""

[2017-07-19 18:23] phated opened #139 "Create a section of the public repo to suggest new Sips topics, which anyone can write"

[2017-07-19 18:23] phated opened #140 "Create a section of which articles need screenshot updating with version releases"

[2017-07-19 18:25] phated opened #141 "Add Sip guidelines"
# Basic guidelines for formatting a Gulp Sips Series article

## Article Structure
Title
Large Image (replaces 55 words)
Series Description as shown: This is part of our Gulp Sips series: bringing you easily-digestible bits of information on our advanced or unknown features.
Body (can be What?, How?, Why?)

Notes:
* No more than 200 words/2 minute read, including images.  This is based on the Medi

[2017-07-24 07:58] coliff commented on #56
Cloudflare works great with GitHub pages. There is no cost for the service and adding HTTPS has many benefits.
https://doesmysiteneedhttps.com/

[2017-07-24 13:26] contra commented on #56
Set it up on cloudflare free tier, SSL should work fine now.

[2017-07-24 18:13] phated commented on #56
A better solution would be to petition github to fix their shit.

[2017-07-24 18:48] contra commented on #56
Yeah, also that ^ No reason for github to not offer letsencrypt one click SSL other than their own laziness. If any of you know github people please bug them endlessly.

[2017-08-28 22:49] ocelotluke commented on #54
I wrote up a little description of what I would describe Gulp as. There are a few things that could be improved, like changing the examples of what it could be used for (this is based on my workflow, maybe a more diverse range of use cases would be better) & possibly beefing out the second paragraph, but I think this is a fairly good fist draft of what you are looking for:

Let me know what you th

[2017-10-09 21:31] phated opened #145 "Sip for streams"
https://github.com/gulpjs/gulp/issues/2027 gave me the idea that we could make a Sip about streams and the difference between buffer streams and vinyl streams.

[2017-10-16 08:06] maddhruv opened #69 "Building a docs website"
What is likely to build a Documentations website for gulp!

[2017-10-16 08:08] maddhruv opened #70 "Mobile responsive"
The navigation bar is not responsive with small size devices!

[2017-10-16 19:56] phated opened #71 "New OpenCollective version broke our contributor list"
They removed the `totalDonation` field and didn't include a replacement.  I'm working with them to sort it out.

[2017-10-19 21:56] phated commented on #70
Feel free to submit a PR 😃

[2017-10-19 21:57] phated commented on #69
Duplicate of #31 and https://github.com/gulpjs/gulp/issues/1595

[2017-10-19 21:57] #69 closed

[2017-10-20 18:35] #146 closed

[2017-10-20 18:39] phated commented on #71
Fixed

[2017-10-20 18:39] #71 closed

[2017-10-21 07:44] maddhruv opened #74 "Migrate to Jekyll"
Migrating to Jekyll will help -
- Build faster pages
- Write better docs and guidelines
- Use variety of plugins available to use.

[2017-10-23 03:35] phated commented on #74
No, we made a conscious decision to remove all build process from the website.

[2017-10-23 03:35] #74 closed

[2017-10-25 16:27] SomethingNew71 commented on #52
I can help with this if you are interested.  Is there an API endpoint that would provide this data?

[2017-10-25 16:29] SomethingNew71 commented on #31
Hey is this currently being worked on?  I saw @Saturate was planning on tackling it but if he wasn't able to I can jump in and help out.  Would this ideally be hosted in the same place as the rest of the site? And would this be a direct replacement for the documentation currently in GitHub Markdown?

[2017-10-26 18:46] phated commented on #31
@SomethingNew71 no one is working on it afaik, so feel free to work on it.  The current assumption is that the theme will live here and the gitbook will be generated from whatever documentation is gulp's main `docs/` directory.

[2017-10-26 18:49] SomethingNew71 commented on #31
10-4 I'll tinker with it give me a few days.  👍

[2017-10-26 18:58] phated commented on #52
I don't think there's an API that gets both installs and plugins.  Installs would come from npm and plugins would come from npmsearch.  The companies and seconds saved would be static, I'm guessing.

[2017-10-26 19:14] SomethingNew71 commented on #52
Do you like the look of this? It's just mocked up with static data I did last night.

![screen shot 2017-10-26 at 3 14 12 pm](https://user-images.githubusercontent.com/4572799/32072369-58973fea-ba60-11e7-9d66-f97016447820.png)

[2017-10-26 20:00] SomethingNew71 commented on #52
And I have found the plugin count based on a search.

#### API for Related Plurgins - https://api-docs.npms.io/#api-Search-ExecuteSearchQuery

Probably could grab the total out of the response.

*Example:* `https://api.npms.io/v2/search?q=gulp`
*Results:*
[code]

[2017-10-31 18:17] #145 closed

[2017-11-10 02:36] phated commented on #52
Closed by #75 thanks to @SomethingNew71

[2017-11-10 02:36] #52 closed

[2017-11-10 15:15] Mist12345 commented on #70
Shouldn't this issue and pr #72 be closed now too? I thought they were still open and was going to fix it then realized that #73 resolved it.

[2017-11-10 20:22] phated commented on #70
@Mist12345 I haven't had a chance to review and cleanup anything on that PR (it's not been merged)

[2017-11-12 22:36] #70 closed

[2017-11-23 11:31] tumulr commented on #54
Since this issue is still open, I would like to say how about one adds a small video about what gulp does. The reason being gulp does a lot of things and if we write about it, it will be a long description.

@phated What are your thoughts on the above idea?

[2017-11-23 15:33] phated commented on #54
Nah to the video

[2017-12-27 18:15] phated opened #142 "Write Sip explaining `interpret`"
We should explain how/why we do automatic language parsing based on extensions. Ref gulpjs/gulp#2073

[2017-12-27 18:16] phated opened #143 "Blog post explaining the deprecation of gulp-util"
Need to describe the plan, why it changed and why the module was deprecated last week.

This will then be linked from the deprecation message and probably on the repo also.

[2017-12-31 23:29] phated commented on #31
@SomethingNew71 still planning to work on this?

[2017-12-31 23:33] SomethingNew71 commented on #31
@phated yup got slammed at work and forgot to come back and pick it up. I'll work on it this coming week. 👍

[2017-12-31 23:34] phated commented on #31
Perfect, thanks!  Ping me if you need anything, I plan to work on docs stuff this week.

[2018-01-02 18:57] SomethingNew71 commented on #31
Do you want to run the node app right from the docs folder

eg. https://github.com/GitbookIO/gitbook/blob/master/docs/setup.md

Or locally or do you want me to sign up for this on Gitbooks site?

https://www.gitbook.com/pricing

![screen shot 2018-01-02 at 1 50 13 pm](https://user-images.githubusercontent.com/4572799/34495599-e968c6f4-efc3-11e7-8e12-10d17c90df60.png)

[2018-01-02 19:01] phated commented on #31
@SomethingNew71 we'll do our own hosting from this repo (a docs/ folder makes sense) - btw, I'm super excited to have you working on this!

[2018-01-02 19:05] SomethingNew71 commented on #31
😄  Well, I am excited to be working on it!

[2018-01-03 05:01] SomethingNew71 commented on #31
@phated The first version has been pushed and a PR was created. Let me know your thoughts! :-)

[2018-02-05 17:17] yunusga commented on #53
Let me try. Is there any idea what that would look like?

[2018-02-05 17:22] contra commented on #53
@yunusga Really just files going in (of different types), them changing as they go through different steps/plugins in the pipe, and either one bundle coming out or multiple files going out with different types. I made some of these as videos for talks I gave in the past but they weren't very good looking. It should be like, hey look at this sample code - here's what it really looks like visually.

[2018-02-14 22:49] zekth commented on #53
The way you describe it is more like a "commercial" demonstration and not a technical one i feel. The homepage looks fine for me in an experiment developer way i mean. Maybe adding a tab "demo" or a panel could be an idea? By this way you can introduce best practices like manipulating dist folders etc.

[2018-02-15 08:00] zekth opened #82 "Adding boilerplate projects"
After talking about the homepage of the projects and how to describe gulp i thougth it would be nice to provide some boilerplate projects for each versions. Like creating new repository like gulpjs/gulpjs-boilerplate having readme and folders for each versions and specifications described for each case. By the way it could be nice to introduce some new internal gulp plugins too.

I can write it ea

[2018-02-15 16:42] contra commented on #82
One of the reasons I made gulp was to get rid of boilerplate - if we have to make boilerplates then we did something wrong. The API is supposed to be so minimal that we don't need them.

[2018-02-15 16:51] zekth commented on #82
I see what you mean and i totally agree, but as you know its really common on the web to copy paste and wait for everything to work by itself.
As boilerplates i was meaning examples and case explanation.

[2018-02-15 17:24] phated commented on #82
I agree with contra's sentiment but I'd describe it as "gulp is meant to feel like snapping together building bricks while teaching node best practices".

We already have recipes and they are going to be prominently featured on the new docs website.

[2018-02-15 17:24] #82 closed

[2018-03-15 20:01] phated opened #83 "Add nofollow to sponsor links"

[2018-03-16 07:15] zekth commented on #83
Would it be an idea to open in a blank target? like:
`<a href="#" target="_blank" rel="noopener, noreferrer, nofollow">foo</a>`

[2018-03-16 18:51] phated commented on #83
I usually don't like target=blank because power users ctrl-click/middle-click things anyway when they want a new tab.  Fine with the other stuff though, I think.

[2018-03-18 10:19] zekth commented on #83
I agree with you but depends on people, i'm kind of middle click mouse user but on the laptop i never use this feature.
"noopener, noreferrer" are used to avoid security issues with the target=_blank. So if we don't use this target no need to use those tags.

[2018-03-23 09:41] unconfident opened #84 "Remove trailing slashes from links in plugin list"
Didn't find where sources of `https://gulpjs.com/plugins/` page located so posting here instead.

NPM website has updated recently and now links containing a slash after package name do not resolve correctly, resulting in a 404 page. Compare: [with](https://www.npmjs.com/package/gulp-assets/), [without](https://www.npmjs.com/package/gulp-assets)

Code in question:

[code]

[2018-03-23 15:58] contra commented on #84
Wow, that is really crummy behavior for their website. My gut says they should fix it, but if you send a PR to remove the slash we can merge it.

[2018-03-24 09:18] unconfident commented on #84
I don't think plugins page is a part of this repository, at least I wasn't able to find it.

Yeah, I agree but knowing how it is, it will probably take them multiple years to do so. Maybe they iterate quicker on the website than they do on the cli tool though. I'm also not seeing a public repo with sources for their main website anywhere so maybe it's private

[2018-03-25 14:19] unconfident commented on #84
Looks like they fixed it on their end, trailing slashes now removed with a redirect

[2018-03-25 14:19] #84 closed

[2018-04-17 21:12] #83 closed

[2018-04-17 21:12] phated commented on #31
Completed by #78 - awesome work @SomethingNew71

[2018-04-17 21:12] #31 closed

[2018-04-24 13:09] SomethingNew71 commented on #31
Hurray! Thanks @phated

[2018-05-31 17:42] phated opened #144 "Sip for top-level `watch()`"
Compare `watch()` inside or outside tasks.

[2018-10-18 17:43] Janiceilene opened #86 "Quick Start"
Change all h3 subheadings to h2. This change was made in the Google Doc already, just copy it over.

[2018-10-18 17:54] Janiceilene opened #87 "Add space above and below code blocks"
Add 2rem margin above and below code blocks. Except for code blocks in the Quick start page, those shouldn't change.

[2018-10-18 18:10] Janiceilene opened #88 "Using Plugins"
Consider changing the sub heading "Do you need a plugin?" It's currently the only sub heading with a question mark. Maybe something like "Plugins aren't always needed"?

[2018-10-18 18:16] Janiceilene opened #89 "Make code snippets smaller"
Change font-size of `code` from 16px to 14px.

[2018-10-18 20:48] Janiceilene opened #90 "lastRun table"
The column widths in the table in the Timestamp precision section. The first column is too narrow, the second column is too wide.

[2018-10-18 21:02] Janiceilene opened #91 "Registry"
The errors section looks wonky. Maybe we should make it into a bulleted list?

[2018-10-24 18:16] phated commented on #86
This is done.

[2018-10-24 18:16] #86 closed

[2018-10-24 18:27] Janiceilene opened #93 "Table borders"
Change the tables' internal borders on the grey rows to white. Also remove the outside borders for all tables.

[2018-10-24 20:45] Janiceilene opened #94 "Mobile table view"
When looking at a table in mobile, users can't tell that more information exists if you scroll to the right.

[2018-10-24 20:59] phated commented on #87
Done

[2018-10-24 20:59] #87 closed

[2018-10-24 21:00] phated commented on #89
Done

[2018-10-24 21:00] #89 closed

[2018-10-24 21:00] phated commented on #93
Removed them all instead

[2018-10-24 21:00] #93 closed

[2018-10-24 21:00] phated commented on #90
Done - made it smaller

[2018-10-24 21:00] #90 closed

[2018-10-24 21:16] #46 closed

[2018-10-24 21:21] phated commented on #88
I love it. keep it.

[2018-10-24 21:21] #88 closed

[2018-10-24 22:08] #94 closed

[2018-10-25 21:12] phated opened #95 "Vinyl instance property table looks pretty bad"
The way we have styling defined to have all the other tables looking good (on desktop and mobile) is causing the Instance Property table in Vinyl documentation to look really bad.  It'd be nice to fix it in that one case but still keep the others the same.

[2018-10-25 21:13] phated opened #96 "Need to document development process"
I'll need to document the new docusaurus workflow.

[2018-10-26 01:06] phated opened #97 "Need to re-enable search"
Once Algolia gets back to us with an API key, we should be able to do this quickly (the styles are already done and everything)

[2018-10-28 00:13] phated commented on #97
This is complete.

[2018-10-28 00:13] #97 closed

[2018-12-07 02:27] phated opened #98 "Nicer icon for docusaurus website"
We're now featured on the Docusaurus website!  However, they are using our favicon and it's getting blown up pretty big.  We should create a proper sized icon and submit a patch to their website to use that one.

[2019-01-01 09:43] mikeattara commented on #98
Hello @phated, may I take it up and work on it

[2019-01-01 09:45] mikeattara commented on #95
@phated I would be very grateful if you can throw more light on this issue

[2019-01-01 12:58] mikeattara commented on #98
I have converted the logo to svg which is recommended by the Docusaurus team

[2019-01-02 20:34] phated commented on #95
@mikeattara the spacing for this table (https://gulpjs.com/docs/en/api/vinyl#instance-properties) doesn't look good.  The `description` column doesn't get enough space while the `throw` column gets too much.  I don't think we can target that table specifically without causing issues with the other tables.

[2019-01-09 05:04] phated commented on #98
This has been completed by @mikeattara - thanks!

[2019-01-09 05:04] #98 closed

[2019-01-14 15:09] macfire10 opened #100 "Stats section on mobile"
A stats section on mobile shrinks to two elements per column, but no margin is applied to the bottom elements.

![2019-01-14 17 41 42](https://user-images.githubusercontent.com/36339574/51121022-722f3b80-1827-11e9-907f-8146f6a06a0a.png)

[2019-01-14 17:52] phated commented on #100
Fixed by #101

[2019-01-14 17:52] #100 closed

[2019-08-20 10:46] psubrambe commented on #96
Can i help you in it?

[2019-09-19 18:02] APatil010 commented on #95
@phated I am new to open source contribution, i tried a few ways to target the table intended, but was unsuccessful. I have a very naive solution, if that doesn't affect the ideology  or views through which the documentation was created, where we can just swap those two columns, to make it much better. Any ideas on this or anything that you think of.

[2019-10-11 15:14] walter-ind opened #104 "No project license"
Gulp is a very popular open source tool used by the developers.

As I can see, there have been many pull requests till now along with some issues and forks, therefore it is necessary to officially authorise the developers to use and improve the code of this repository. Thus, the repository should have a valid license.

If you allow me, I will submit a PR which will add a license to this repository

[2019-10-30 02:02] walter-ind commented on #104
@phated please reply.

[2019-10-30 02:12] phated commented on #104
A project doesn't need a license to contribute. The gulp website was originally based on a purchased theme so I don't even know what the license can/should be. I'm also very busy with my personal life so I don't have the time to look into it.

[2019-10-30 04:49] walter-ind commented on #104
Sure..I will close the issue.

[2019-10-30 04:49] #104 closed

[2020-01-19 06:40] Gauravsaha-97 opened #105 "Migrate Website to Docusaurus 2 Alpha"
Issue Body:

Hi there! The Docusaurus team is currently developing Docusaurus 2 and are almost done with an MVP that doesn't include translations and versioning features, which means there's feature parity with your website's current usage of Docusaurus.

Docusaurus 2 brings about many improvements:

- Client-side rendering with prerendering (site renders without JavaScript!)
- More flexible appea

[2020-01-20 18:31] phated commented on #105
I'd love help with this! I was tracking the v2 for awhile but haven't touched this website in quite some time.

[2020-04-05 03:51] #105 closed

[2020-04-05 03:51] #96 closed

[2020-04-05 03:58] yangshun commented on #105
Thank you @phated! May we know the reason for leaving the home page as a standalone HTML instead of building it into the Docusaurus website? I noticed this was the case for the Docusaurus 1 website as well but just wondering the rationale.

[2020-04-05 04:05] phated commented on #105
@yangshun the original website was created from a purchased theme and none of us have really worked on it. However, my friend is a talented UI designer/dev and is currently working to port her React redesign here—which is what inspired me to get this migration completed.

We hope to have more to show off soon and I'll send an updated showcase!

[2020-04-05 04:09] yangshun commented on #105
Thank you! Do let us know how we can help out (code reviews, UI suggestions, etc)! If you like, you could show us the redesign mocks we can comment on the feasibility too!

Looking forward to showcasing gulpjs.com on Docusaurus v2 showcase ❤️

[2020-04-05 04:12] phated opened #107 "GitHub Actions for deployments"
Auto deploy would be really nice.

[2020-04-05 04:13] phated opened #108 "Deploy previews"
I don't want to publish this to another service, but maybe we could leverage netlify's deploy preview feature to see any changes in PRs without having to pull it down.

[2020-04-16 05:09] phated commented on #53
This is done! The animated diagram is live on the new website!

[2020-04-16 05:09] #53 closed

[2020-04-16 05:09] phated commented on #54
This is done! We revamped all the copy on the brand new website!

[2020-04-16 05:09] #54 closed

[2020-04-16 05:27] phated opened #110 "Copyable text in the "benefits" images"
Currently, the images used for the "benefits" section are PNGs generated by Carbon. Once https://github.com/carbon-app/carbon/issues/210 is completed, we can probably make these copyable examples. I think that would give an interesting dynamic to that section of the website.

[2020-04-23 02:59] #107 closed

[2020-04-23 03:14] phated commented on #95
@APatil010 with our new website upgrades, MDX is supported in all the documentation. We've already leverage this for https://raw.githubusercontent.com/gulpjs/gulp/master/docs/support/for-enterprise.md by adding custom classes to the code that is then styled on our website.

If you want to take another stab at this, feel free!

[2020-04-23 03:22] phated opened #111 "Integrate GitHub Sponsors API with website"
Currently, we only show OpenCollective backers in the "individual backers" section of the website. It seems that GH Sponsors has a [GraphQL API](https://developer.github.com/v4/object/sponsorship/) for querying sponsors, so we should add those backers to the page.

[2020-04-23 03:25] phated opened #112 "WIP: Plugins page"
We're planning to release a brand new plugin page and ditch our old, unmaintained plugins site.

I've already begun this work on a branch in this repo.

Here are some additional resources I've been using:
* https://api-docs.npms.io/#api-Search
* https://github.com/npm/registry/blob/master/docs/REGISTRY-API.md#get-v1search

[2020-04-26 23:19] phated commented on #112
This is available at http://gulpjs.com/plugins-new/ to test a bit before release.

[2020-04-27 19:33] phated commented on #112
This has been renamed and promoted. I will open new issues for any other issues or improvements.

[2020-04-27 19:33] #112 closed

[2020-04-27 19:36] phated opened #113 "Plugins page: Deprecated packages"
On the plugins page, we should either show that a plugin is deprecated or we should remove them from the search.

Ref gulpjs/plugins#225

[2020-04-27 19:42] phated opened #114 "Plugins page: Should we bring back blocklist?"
In the initial implementation of the new plugin page, I didn't include the gulpplugin blocklist.

Should we bring it back?

[2020-04-27 19:47] phated opened #115 "Plugins page: Clicking a keyword should search for that keyword"
I thought about this but didn't implement it. This would make them more usable.

[2020-04-27 19:49] phated opened #116 "Plugins page: Actually handle errors"
I didn't do any error handling.

[2020-04-27 19:49] phated opened #117 "Show vinyl adapters on the plugin page"
Moved from https://github.com/gulpjs/gulpjs.github.io/issues/17

[2020-04-27 21:05] phated opened #118 "Plugin page: Hide navbar search"
Having 2 search boxes on the plugins page is confusing, especially on mobile.

Ref https://twitter.com/kargrigoryan/status/1254877677460377610

[2020-04-27 21:06] phated opened #119 "Ensure navbar searchbox has font-size 16px or greater"
iOS will force-zoom if a font-size is less than 16px in an input.

Ref https://twitter.com/kargrigoryan/status/1254877677460377610

[2020-05-03 20:00] #119 closed

[2020-07-28 05:25] phated opened #123 "Docusaurus: Unable to upgrade to newer alphas"
There are some breaking changes in Docusaurus alpha releases and we aren't able to upgrade to them automatically.

Need to research what is breaking and get us updated.

[2020-07-29 03:59] phated commented on #118
To clarify: on the plugins page (https://gulpjs.com/plugins/) we need to hide the "Search" box inside of the Navbar because it confuses users that want to search for plugins.

[2020-08-04 03:33] phated commented on #118
Fixed by #125

[2020-08-04 03:33] #118 closed

[2020-08-04 03:44] phated commented on #111
This was completed in #122

[2020-08-04 03:44] #111 closed

[2020-08-04 04:27] phated commented on #113
@donghwipark I think we should continue to show the deprecated package, but add an icon or banner about deprecation with the deprecation message (you can see an example from npm at https://www.npmjs.com/package/6to5)

[2020-08-04 14:36] donghwipark commented on #113
@phated I am thinking adding banner with deprecation message "This package has been deprecated". How is that?
And if banner is ok I will make some example to check if it suits with the Gulp.js design.

[2020-08-05 18:05] phated commented on #113
@donghwipark since we pull information from npm, we might have the actual deprecation message available in the data we receive. If we have the message, I'd like to display it.

Please post any images you have of the design! Thank you. 😄

[2020-08-05 23:46] donghwipark commented on #113
![image](https://user-images.githubusercontent.com/35325234/89474598-09b8fe00-d7c1-11ea-8a1b-b0cb53c61c0d.png)
![image](https://user-images.githubusercontent.com/35325234/89474626-1b020a80-d7c1-11ea-86f4-1c0271dd8c73.png)
This two images are the desktop and mobile version of deprecate notification example. Please confirm.

 Additionally the message should be the actual deprecation message from npm

[2020-08-07 16:19] phated commented on #113
@donghwipark these designs look great! Have you researched if the deprecation message is available in the data we receive from npm's API?

[2020-08-08 08:35] donghwipark commented on #113
@phated oh not yet that screenshot was taken from the google develper mode. I will check and if the deprecate message is included I will change to that one!!

[2020-08-08 09:41] donghwipark commented on #113
@phated The problem is I cannot find the deprecated package example. I am checking response with console.log through plugin page. Can you give some example of deprecated package so check the response data again.

[2020-08-08 19:56] phated commented on #113
@donghwipark https://www.npmjs.com/package/gulp-webpack

[2020-08-09 06:29] phated commented on #113
@donghwipark based on our chat today, I found that npm search actually filters gulp-webpack (and probably all deprecated packages?) by default; however, if I add `is:unstable` and `not:unstable` to the query, it tricks the API into returning gulp-webpack (see https://registry.npmjs.com/-/v1/search?from=0&text=keywords:gulpplugin%20is:unstable%20not:unstable%20webpack&quality=0.5&popularity=1.0&mai

[2020-08-09 07:51] donghwipark commented on #113
@phated Thank you for the guidelines. I will add the query if it is not yet modified and check the deprecated message. Will display the message below the default message "This package has been deprecated".

[2020-08-09 23:52] donghwipark commented on #113
![image](https://user-images.githubusercontent.com/35325234/89744330-d5a64b80-dae6-11ea-8f15-c3ccbd5597e4.png)
I am trying to change the background color for the card same as I show you on the top. But couldn't find the card's style. It seems the layout css is somewhere out of the src folder.

[2020-08-09 23:58] phated commented on #113
The `card` class is provided by Docusaurus' CSS Framework (called [Infima](https://facebookincubator.github.io/infima/)), but you can add another class at https://github.com/gulpjs/gulpjs.github.io/blob/d0c3bf316e75c9e115fef38e003bbee224754bf1/src/pages/plugins/index.js#L101

We use "CSS Modules", which means that styles for this component are in https://github.com/gulpjs/gulpjs.github.io/blob/d0c

[2020-08-10 12:59] donghwipark commented on #114
@phated Does blocklist related to the deprecated plugins?

[2020-08-11 04:03] donghwipark commented on #113
@phated This will be the new design of the deprecated card
1. Desktop
![image](https://user-images.githubusercontent.com/35325234/89855991-f946c000-dbd2-11ea-91b9-187604ab7b60.png)
2. Mobile
![image](https://user-images.githubusercontent.com/35325234/89856016-0f548080-dbd3-11ea-9d0c-968aee623129.png)

[2020-08-11 04:31] phated commented on #113
@donghwipark I don't like how large that is, can you fit the message on the existing card instead of increasing the size?

[2020-08-11 04:32] phated commented on #113
Ideally, deprecated plugins should not require more space than other plugins. We also don't need any of the other information, so you can remove keywords and description, etc.

[2020-08-11 15:00] donghwipark commented on #113
1. I delete the keywords and description(card > body) in the deprecated card
2. Reduced the font size of messages
3. Need to confirm on background-color within all-cover or just the deprecate message part
    a. Desktop version(just the deprecate message part)
![image](https://user-images.githubusercontent.com/35325234/89913272-7eab8e00-dc2e-11ea-8652-3e636c486638.png)
    b. mobile version(just t

[2020-08-11 17:36] phated commented on #113
@donghwipark I think it is still too big, let me show a recommendation instead.

[2020-08-11 17:51] phated commented on #113
@donghwipark It should look more like this (please ignore my very poor photo editing skills):
![89913530-ccc09180-dc2e-11ea-87eb-ba63d68ccef1](https://user-images.githubusercontent.com/992373/89931070-8fbdb600-dbc0-11ea-8b4a-ef068365d2e4.png)

[2020-08-12 13:21] donghwipark commented on #113
This is the modificated version with the photo above.
1. Desktop
![image](https://user-images.githubusercontent.com/35325234/90019970-1de18b80-dcea-11ea-8ad1-9ee5ddff751e.png)
2. Mobile
![image](https://user-images.githubusercontent.com/35325234/90019998-289c2080-dcea-11ea-9270-80d82325334d.png)

[2020-08-12 13:52] donghwipark commented on #115
@phated Want to implement this after the deprecate card issue.
For the clear understanding about this issue, I want to ask few questions.
1. Is it correct to think that clicking button in photo below trigger the search and shows list of result?
![image](https://user-images.githubusercontent.com/35325234/90022573-a7df2380-dced-11ea-91d9-7d36f35cbc5c.png)
2. After displaying the list the keywords mu

[2020-08-16 20:56] phated commented on #114
@donghwipark no, the blocklist was a list maintained by the gulp core team of plugins that don't follow the guidelines or should not exist or be used. We never updated the guidelines and the team stopped watching for bad plugins. Also, some plugin authors yelled at us.

[2020-08-16 22:19] donghwipark commented on #114
@phated I understood what the blocklist means and the situation!!

[2020-08-19 21:27] sidneifjr opened #127 "Translating the docs to Portuguese (PT-BR)"
I'm from Brazil and I noticed a decent chunk of colleagues have a hard time reading the current docs because of the language barrier, so i want to help.

I'll work on it and make a pull request when it's done, however I'd like to have an official feedback from the team.

[2020-08-20 01:10] phated commented on #127
Translation work is done in the main gulp repo, not on the website. We are happy to accept any translation work in the same format as this PR: https://github.com/gulpjs/gulp/pull/2456

I would also ask you to recruit another to do code reviews on your translations because none of the core team speaks Portuguese.

[2020-08-23 23:43] phated commented on #113
Completed by #126 (I typo'd the commit message)

[2020-08-23 23:43] #113 closed

[2020-08-23 23:52] donghwipark commented on #123
1. Documentation in docusaurus for the reference: https://github.com/facebook/docusaurus/blob/master/CHANGELOG-2.x.md
2. Issue: If we try to increase the version number, our website breaks
3. Discord: https://discordapp.com/invite/docusaurus

[2020-10-20 19:02] phated opened #128 "Automate company sponsorships"
Currently, company sponsorships are done manually so we can request logos that work on our dark background. However, we don't get notified when a company cancels their sponsorship so we have to check back monthly and remove anyone that stops sponsoring.

It would be great to automate this process. Maybe the easiest step is to notify us when someone stops sponsoring.

[2020-10-21 19:38] phated opened #129 ""Copy to clipboard" button can't be seen on code snippets"
I just noticed that if you hover on a code snippet, the "Copy" button appears but you can't really see it because of the dark background and black text. We should fix that styling.

[2020-10-22 12:07] uplancer commented on #129
I did a quick fix #130
but, I think updating docusaurus to v2.0.0-alpha.66 will fix the problem.

[2020-10-23 20:12] phated commented on #129
Thanks! I'll make a note about that in our upgrade issue. The upgrade needs a bunch of care to do and no one has taken it on yet.

[2020-10-23 20:12] phated commented on #123
As noted in https://github.com/gulpjs/gulpjs.github.io/issues/129#issuecomment-714448231, we should remove the workaround for the styling on the copy button once we upgrade.

[2020-10-23 20:20] phated commented on #129
Temporarily fixed by #130

[2020-10-23 20:20] #129 closed

[2020-10-24 07:53] uplancer commented on #129
@phated My pleasure. btw this is my first ever contribution to the open source :smiling_face_with_three_hearts:
Yes, I tried to upgrade, but it's a bit challenging :smile:

I will try to upgrade to the latest version :crossed_fingers:

[2020-10-25 00:43] phated commented on #129
@uplancer Oh cool! I'm glad we has something you could work on; you did great work!

Please let me know on the upgrade issue if you need any guidance. I haven't tried upgrading and I know they changed a lot, but I have spent a lot of time looking at Docusaurus.

[2020-10-28 14:36] donghwipark commented on #123
![image](https://user-images.githubusercontent.com/35325234/97450632-489cc100-1976-11eb-9a7e-8a07817b26a5.png)
Checked the actual problem and will proceed to debug this issue.

[2020-10-29 11:36] donghwipark commented on #123
From the https://discord.com/channels/398180168688074762/584803742801723424
![image](https://user-images.githubusercontent.com/35325234/97562482-08e0e280-1a25-11eb-8f33-540aff5b9782.png)
![image](https://user-images.githubusercontent.com/35325234/97562575-2e6dec00-1a25-11eb-85e7-2e9c6bd5f449.png)

Narrow the issue to the docusaurus.config.js file. Fix the 4 files below and 'npm run start' worked.(

[2021-04-07 00:40] phated commented on #123
Thanks for all your work on this @donghwipark!! Closed by #133

[2021-04-07 00:40] #123 closed

[2021-04-07 00:49] phated opened #134 "In Safari, when exiting the search box, the page jumps to the bottom"
@donghwipark I just noticed this on the deployed website, do you want to try to fix it?

[2021-04-07 03:19] donghwipark commented on #134
@phated Sure! Thank you for your support even you are on a busy schedule!

[2021-04-24 05:53] donghwipark commented on #134
@phated I tried to define in what situation this bug occurs first.
1. Case forced to scroll down not occur
    A. When initially screen is on top and clicking ESC button,
2. Case forced to scroll down occurs
    A. When initially screen is moved down even 1 pixel

[2021-04-29 20:59] phated opened #135 "Update nofollow links to new standard"
Ref: https://moz.com/blog/nofollow-sponsored-ugc

[2021-05-29 06:37] donghwipark commented on #134
I shared the situation on discord. Hope I can get the support from the discord
https://discord.com/channels/398180168688074762/584803742801723424

[2021-06-01 10:39] lex111 commented on #134
@donghwipark actually this has been fixed in subsequent releases, just update the website to the first beta version.

[2021-06-05 08:14] donghwipark commented on #134
@lex111 Thank you so much for the notification will try that way.

[2021-08-22 07:16] donghwipark commented on #134
I retested below NG cases in the local environment after update the docusaurus from 2.0.0-alpha.70 to 2.0.0-beta.4

-----------------------------------------------------------------------------------------------------------------
Case forced to scroll down occurs
A. When initially screen is moved down even 1 pixel
- clicking ESC button -> OK
- clicking outbound of the search popup -> OK
B. When in

[2022-06-16 18:04] Sebi2020 opened #137 "Wrong module syntax on gulpjs.com / Named export 'dest' not found."
### What actually happened?
[gulpjs.com](https://gulpjs.com/) shows example, which do not work, cause gulp is a CommonJS module, but the examples use ES-Module Syntax:
<img width="812" alt="image" src="https://user-images.githubusercontent.com/1862664/174136404-e8372738-1619-4ef9-a6d8-d9d4b501462d.png">

Which causes the following error:
[code]

[2022-06-16 21:09] #137 closed

[2022-06-16 22:08] Sebi2020 commented on #137
@phated shouldn't this be mentioned on the page? The getting started did not even mention that there is an esm module. It's really confusing if you mix different import styles on the pages.

[2022-06-16 22:21] phated commented on #137
No, these are just flashy examples and not something you should be used as "getting started". There's a giant menu button to the getting started guide.

[2022-06-28 20:28] phated commented on #143
This was completed via https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5

[2022-06-28 20:28] #143 closed

[2022-06-28 20:30] phated commented on #146
Blog post: https://medium.com/gulpjs/gulp-sips-custom-task-metadata-9a2dc80ac7b1

[2022-08-01 16:53] phated opened #147 "Docusaurus v2 has been released!"
https://docusaurus.io/blog/2022/08/01/announcing-docusaurus-2.0

We should upgrade to the stable version, as they say they are going to follow semver closely with the stable versions.

@donghwipark I know we never finished #136 but perhaps we should complete both together. Would you be able to take this on?

[2022-10-03 13:45] ghost commented on #147
@phated yes sure I will start to look into it